on: [push, pull_request]
name: Build
jobs:
  build:
    strategy:
      matrix:
        go-version: ['stable']
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        cache: true
    - name: Build
      run: go build
